<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inventory_editor</title>
</head>
<body>
<form method="post">
           {% csrf_token %}
    <h2>
        <label for = "skill_name">Укажите название способности:</label>
        <input type = "text" id = "skill_name" name = "skill_name" maxlength="30" required>
    </h2>
    <h2>
        <label for = "skill_description">Напишите описание способности:</label>
        <textarea id = "skill_description" name = "skill_description" maxlength="70" required></textarea>
    </h2>
    <h2>
        <label for = "skill_effect_min">Укажите минимальное значение для эффекта:</label>
        <input type = "text" id = "skill_effect_min" name = "skill_effect_min" maxlength="30" required>
    </h2>
    <h2>
        <label for = "skill_effect_max">Укажите максимальное значение для эффекта:</label>
        <input type = "text" id = "skill_effect_max" name = "skill_effect_max" maxlength="30" required>
    </h2>
    <h2>
        <label for = "skill_cooldown">Выбериет кол-во ходов на перезарядку:</label>
        <input type = "text" id = "skill_cooldown" name = "skill_cooldown" maxlength="30" required>
    </h2>
    <h2>
        <label for = "skill_type">Введите тип способности:</label>
        <input type = "text" id = "skill_type" name = "skill_type" maxlength="30" required>
    </h2>
    <button type="submit">Создать способность</button>
    </form>
    {% for item in items %}
    <ul>
        <li align="left"> <h3>ID предмета: {{ item.item_id }}</h3>
            Название: {{ item.item_name }} | Мнимальный урон: {{ item.damage_min }} | Максимальный урон: {{ item.damage_max }}
            Презарядка: {{ item.skill_cooldown }}  <h4>Описание: {{ item.description }}</h4>
        </li>
    </ul>
    {% endfor %}
<h2><b><a class="page-link" href="http://127.0.0.1:8000/Redactor/">
           В меню редакторов
        </a></b></h2>
</body>
</html>
