<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Вход в подземелье</title>
</head>
<body>
<h1>{{ location_name }}</h1>
    <h2>{{ player_name }} входит в {{ location_name }}</h2>
    <h2>////\\\\</h2>
    <h2>{{ location_description }}</h2>
    <h2>\\\\////</h2>
<h2><b><a class="page-link" href="http://127.0.0.1:8000/Move/?player_name={{ player_name }}&location_map_id={{ 2 }}" aria-label="Previous">
           Смелой войти внутрь
</a></b></h2>
<h2><b><a class="page-link" href="http://127.0.0.1:8000/Gameover/?player_name={{ player_name }}" aria-label="Previous">
            А может он еще не готов
        </a></b></h2>
</body>
</html>