<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Editor</title>
</head>
<body>
<h2>Выберите, что хотите создать</h2>
<h1>////\\\\</h1>
<h2>Локации</h2>
<h3><b><a class="page-link" href="http://127.0.0.1:8000/Redactor/Location/?location_type={{ 'Пустая' }}">
           Пустая локация
        </a></b></h3>
<h3><b><a class="page-link" href="http://127.0.0.1:8000/Redactor/Location/?location_type={{ 'Ловушка' }}">
           Локация с ловушкой
        </a></b></h3>
<h3><b><a class="page-link" href="http://127.0.0.1:8000/Redactor/Location/?location_type={{ 'Бой' }}">
           Локация с врагом
        </a></b></h3>
<h3><b><a class="page-link" href="http://127.0.0.1:8000/Redactor/Location/?location_type={{ 'Загадка' }}">
           Локация с загадка
        </a></b></h3>
<h1>\\\\////</h1>
<h1>////\\\\</h1>
<h3><b><a class="page-link" href="http://127.0.0.1:8000/Redactor/Item/">
           Создать предмет
        </a></b></h3>
<h1>\\\\////</h1>
<h1>////\\\\</h1>
<h3><b><a class="page-link" href="http://127.0.0.1:8000/Redactor/Class/">
           Создать класс
        </a></b></h3>
<h1>\\\\////</h1>
<h1>////\\\\</h1>
<h3><b><a class="page-link" href="http://127.0.0.1:8000/Redactor/Inventory/">
           Создать инвенторя
        </a></b></h3>
<h1>\\\\////</h1>
<h1>////\\\\</h1>
<h3><b><a class="page-link" href="http://127.0.0.1:8000/Redactor/Enemy/">
           Создание врага
        </a></b></h3>
<h1>\\\\////</h1>
<h1>////\\\\</h1>
<h3><b><a class="page-link" href="http://127.0.0.1:8000/Redactor/Enemy/Skill/">
           Создать способности врага
        </a></b></h3>
<h1>\\\\////</h1>
</body>
</html>