<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Выход из подземелья</title>
</head>
<body>
<h2> {{ player_name }} добрался до выхода из подземелья </h2>
<h2><b><a class="page-link" href="http://127.0.0.1:8000/Enter_dungeon/?player_name={{ player_name }}" aria-label="Previous">
           Хотите попробовать еще раз?
</a></b></h2>
<h2><b><a class="page-link" href="http://127.0.0.1:8000/Enter/">
           Или начать новый поход
        </a></b></h2>
</body>
</html>